__pycache__/
*.py[cod]
*$py.class

# -----------------------------
venv/
env/
.venv/

# -----------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -----------------------------
*.log

# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
config.py       
*.secret

# -----------------------------
data/             
*.csv

# -----------------------------
*.html
*.json

# -----------------------------
__MACOSX/
